.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fotosantojoavd.appspot.com/o/Banner.png?alt=media&token=a38d3852-d608-4655-b394-bec4ca83203f');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 35% 20%;
}